<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761131280753-69sn0eb3g74m42i111idpepmnr3ijohg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761131280753-69sn0eb3g74m42i111idpepmnr3ijohg</string>
	<key>API_KEY</key>
	<string>AIzaSyDVca4D9kgWlask3B1I0wa_8AAPutEFjmI</string>
	<key>GCM_SENDER_ID</key>
	<string>761131280753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.discordMyVersion</string>
	<key>PROJECT_ID</key>
	<string>application-messagerie-test</string>
	<key>STORAGE_BUCKET</key>
	<string>application-messagerie-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761131280753:ios:d5b20d5dd92c4d1230eed0</string>
</dict>
</plist>